.ml-5{
    margin-left: 5px;
}
.ml-20{
    margin-left: 20px;
}
.color-w{
    color: white;
}
header{
    background-image: url("../images/london2.jpg");
    width: 100%;
    height: 700px;
}
.pl-10{
    padding-left: 10px;
}
.pr-10{
    padding-right: 10px;
}
.form-header{
    width: 1000px;
    height: auto;
}
.pt-15{
    padding-top: 15%;
}