.container{
    width: 60%;
    border: 3px solid black;
    padding: 10px;
}
.header{
    background-color: #2d694f;
    height: 200px;
    display: flex;
    flex-direction: column !important;
}
    
.avt{
    width: 170px;
    margin-top: 15px;
    margin-right: 50px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.sidebar{
    width: 100%;
    background-color: rgb(241, 232, 232);
    padding: 10px;
    display: flex;
}
.content-right{
    background-color: rgb(240, 243, 249);
}
.flex-container {
    display: flex;
    flex-direction: row;
}
