body{
    background-color: #00a4cb;
}
.color-w{
    color: white;
}
.bg-footer{
    background-color: #01bee4;
}
.jc-sb{
    justify-content: space-between;
}
.ml-10{
    margin-left: 10px;
}
.ml-20{
    margin-left: 20px;
}
.ml-30{
    margin-left: 30px;
}
.ml-50{
    margin-left: 50px;
}
.ml-90{
    margin-left: 90px;
}
.ml--20{
    margin-left: -20px;
}
.fs-80{
    font-size: 80px;
}
.fs-100{
    font-size: 100px;
}
.mt--50{
    margin-top: -50px;
}
.pl-200{
    padding-left: 200px;
}